################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/FolderDivider/.vs/FolderDivider/v15
/FolderDivider/obj/Debug
